@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-axxdrl');
  src:url('../fonts/icomoon.eot?#iefix-axxdrl') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-axxdrl') format('woff'),
    url('../fonts/icomoon.ttf?-axxdrl') format('truetype'),
    url('../fonts/icomoon.svg?-axxdrl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shield:before {
  content: "\e9b4";
}

.icon-cool:before {
  content: "\e9eb";
}

.icon-evil:before {
  content: "\e9ef";
}

