html {
  box-sizing: border-box;
}

body {
  background: url(../images/real_cf.png) repeat;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: 100;
  color: #FFF305;
  text-align: center;
}

.container {
  width: 585px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
}

.race-dashboard {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: rgba(255,255,255,0.15);
  box-shadow: inset  0  8px 8px -8px #000, 
              inset  0 -8px 8px -8px #000;
}

.race-dashboard::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 25px;
  top: -25px;
  padding-top: 5px;
  background-color: rgba(255,255,255,0.25);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  content: 'Dashboard';
  text-align: center;
  color: #F5F5F5;
  font-weight: 100;
}

.race-dashboard > .notification {
  padding: 15px;
  display: block;
  font-size: 1.25em;
  color: rgb(255, 152, 0);
  font-style: italic;
  font-weight: 300;
}

.race-track {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.test-player {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin-left: 15px;
}

.test-player > .CodeMirror {
  height: 343px;
  font-size: 11px;
}

.player-test-button {
  display: block;
  float: right;
  background-color: #C8E6C9;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: 300;
  color: #388E3C;
  text-transform: uppercase;
}

.tournament-start-button {
  display: block;
  float: right;
  background-color: #FFE0B2;
  border: 2px solid #FF9800;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 0.8em;
  font-weight: 300;
  color: #F57C00;
  text-transform: uppercase;
}

.track-row {
  overflow: hidden;
}

.race-track.move > .track-row:nth-child(odd) > .track-col:nth-child(odd) {
  border-right: 1px solid #C0C0C0;
}

.race-track.move > .track-row:nth-child(even) > .track-col:nth-child(even) {
  border-right: 1px solid #C0C0C0;
}

.race-track:not(.move) > .track-row:nth-child(even) > .track-col:nth-child(odd) {
  border-right: 1px solid #C0C0C0;
}

.race-track:not(.move) > .track-row:nth-child(odd) > .track-col:nth-child(even) {
  border-right: 1px solid #C0C0C0;
}

.track-col {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #282B2A;
}

.obstacle {
  background-image: url(../images/wall_silver.png);
}

.car-blue {
  background-image: url(../images/car_sprite_scale.png);
  background-position: 0 0;
}

.car-red {
  background-image: url(../images/car_sprite_scale.png);
  background-position: 20px 0;
}

.players-container {
  margin-top: 15px;
}

.players-container .player {
  display: inline-block;
}

.players-container .player-2 {
  margin-left: 25px;
}

.players-container .car {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.players-container .name {
  vertical-align: text-top;
  font-size: 14px;
  font-weight: 300;
  color: rgb(245, 245, 245);
}